@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Inter:wght@400;500;600&display=swap');

body {
    background-color: #0d0d0d;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    overflow: auto !important;
}

.discover {
    max-width: 1300px;
    margin: 100px auto;
    padding: 0 24px;
}

.section-title {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 24px;
    padding-left: 12px;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 12px;
}


.scroll-container {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 16px;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.card {
    background: #1b1b1b;
    border-radius: 16px;
    flex-shrink: 0;
    min-width: 280px;
    scroll-snap-align: start;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card-image {
    border-radius: 16px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 12px 16px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meta h4 {
    margin: 0;
    font-weight: 500;
}

.meta p {
    margin: 0;
    font-size: 0.85rem;
    color: #aaa;
}

.image-section {
    display: none;
    margin-top: 38px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    transition: all 0.4s ease;
}

.image-section.show {
    display: grid;
    opacity: 1;
    transform: translateY(0);
}

.image-section img {
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
}


/* Navbar styles are now in nav.css */